header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 200px;
	margin-bottom: 50px;
	position: relative;



	p {
		font-size: var(--font-size-phone);
		margin: 0;
		letter-spacing: var(--letter-spacing-phone);
	}

	&:before {
		content: "";
		position: absolute;
		inset: 0;
		z-index: -1000;
		height: 200px;

		background-image:
			linear-gradient(var(--red-accent-light-opacity),
				var(--red-accent-dark-opacity)),
			url("../../assets/dark-brown-wood-texture-background-with-design-space.jpg");
		background-repeat: repeat;

		/* @media (max-width: 450px) {
			height: 320px;
		} */
	}
}

.phone-and-nav-box {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: clamp(0px, 3vw, 70px);
}

/* nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: clamp(15px, 3vw, 30px);

	@media (max-width: 700px) {
		flex-direction: column;
	}
} */

.header-navlink-logo{
	display: flex;

}

.header-logo {
	height: clamp(150px, 30vw, 200px);


}

/* .active {
	filter: drop-shadow(0px 2px 3px rgb(255, 208, 0));
} */

/* .button.active {
	filter: drop-shadow(0px 2px 3px rgb(255, 208, 0));
  } */

@media (max-width: 900px) {
	.phone-and-nav-box {
		flex-direction: column-reverse;
	}
}

@media (max-width: 520px) {

	header{
		flex-direction: column;
	/* margin-bottom: 150px; */

	}

	.header-navlink-logo {
		display:none;
	}

	/* button {

	} */


}