.menu-background {
	position: relative;
	flex: 1;
	width: 90%;
	max-width: 1100px;
	margin: 0 auto;

	@media (min-width: 920px) {
		&:before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 50%;
			margin-top: 120px;
			background-color: rgba(255, 255, 255, 0.251);
			width: 1px;
			z-index: -1;
			box-shadow: 0px 0px 5px;
		}
	}
}

.grid-box {
	column-count: 2;
	justify-items: center;
	margin-bottom: 10em;

	@media (max-width: 900px) {
		column-count: 1;
		padding: 0 10px;
	}
}

.type-box {
	/* padding-top: 40px; */
	width: 100%;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;

	/* &:first-child {
		margin-top: 0px;
	} */
}

.grid-box> :first-child .header-box {
	margin-top: 0;
}

.header-box {
	width: 100%;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	gap: 15px;
	margin-top: 40px;
}

.card-container {
	break-inside: avoid;
	background: var(--red-gradient);
	font-family: var(--font-style-artistic);
	cursor: pointer;
	position: relative;
	/* width: 100%; */
	max-width: 400px;
	padding: 18px;
	border-radius: 24px;
	box-shadow: 0px 0px 6px 2px var(--card-highlight-col);
	margin: 30px 0;
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

	&:hover {
		transform: scale(1.02);
		box-shadow: 0px 0px 15px 2px #dcc5a9;
	}

	&:focus-within {
		transform: scale(0.99);
		filter: var(--active-shadow);
	}

	&:active {
		transform: scale(0.99);
		filter: var(--active-shadow);
	}
}

.h3-header {
	max-width: 20ch;
	margin-bottom: 10px;
	overflow-wrap: break-word;
	/* @media (max-width: 500px) {
		margin-bottom: 40px;
	} */
}

.bread-text-area {
	display: flex;
	flex-direction: column;
	width: 100%;
}

/* .remove-wrapper {
  position: relative;
  overflow: hidden;
} */

/* .remove-shape {
  float: right;
  width: 130px;
  height: 130px;

  shape-outside: ellipse(75.85% 61.85% at 73px 376px);
  clip-path: ellipse(75.85% 61.85% at 73px 376px);

  shape-outside: polygon(97.19% 155px, 102.31% 110.71%, -238px 111.92%);

  margin-top: 130px;

  background-color: rgba(133, 132, 132, 0);

} */

.description {
	line-height: 1.3;
	margin-right: 60px;
	text-shadow: 2px 2px 4px black;

	@media (max-width: 450px) {
		margin-right: clamp(0px, 8vw, 20px);
	}
}

.item-name-and-icons {
	display: flex;
	align-items: first baseline;
	justify-content: left;
	/* spacing between icons and the title */
	gap: 5px;

	@media (max-width: 500px) {
		flex-direction: column;
	}
}

.dietary-icons {
	display: flex;
	gap: 3px;

	@media (max-width: 500px) {
		top: 60px;
		left: 15px;
	}

	.icon-vegan {
		height: 1.5em;
	}

	.icon-gluten-free {
		height: 1.4em;
	}

	.icon-spicy {
		height: 1.3em;
	}
}

.price {
	font-size: var(--font-size-price);
	letter-spacing: var(--letter-spacing-price);
	font-weight: bold;
	width: 100px;
	height: 30px;

	align-self: flex-end;
	white-space: nowrap;
}

.burger-tall-left {
	position: absolute;
	right: -70PX;
	top: 80em;
	transform: translateY(-50%);
	width: 550px;
}

@media (max-width: 1270px) {
	.burger-tall-left {
		display: none;
	}
}

.burger-tall-right {
	position: absolute;
	left: -50px;
	top: 90em;
	transform: translateY(-50%) scaleX(-1);
	transform: scaleX(-1);
	width: 550px;
}

@media (max-width: 1270px) {
	.burger-tall-right {
		display: none;
	}
}

.burger-tall-left,
.burger-tall-right {
	overflow: hidden;

	filter:
		brightness(0.85) contrast(1.15) saturate(1.1) sepia(0.25) hue-rotate(-10deg);
	opacity: 0.9;
}
