.anchor {
  --display-overlay: flex;
  flex-direction: column;
  display: var(--display-overlay);

  position: relative;
	flex: 1;
	max-width: 1100px;
	margin: 0 auto;
}


[data-show='hidden'] {
  --display-overlay: none;
}

[data-show='displayed'] {
  --display-overlay: flex;
  height: 100vh;
}
