.debug-img {
  margin: 0;
  margin-top: 1.7em;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 315px;
  pointer-events: none;
  --opacity-medium: 50%;
  opacity: var(--opacity-medium);
}