.footer {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;

	padding: 150px 20px 40px; /* space for logo overlap */
	text-align: center;
  }

  /* FULL-WIDTH BACKGROUND */
  .footer::before {
	content: "";
	position: absolute;

	top: 0;
	left: 50%;
	transform: translateX(-50%);

	width: 100vw;
	height: 100%;

	z-index: -1;

	background-image:
	  linear-gradient(var(--red-accent-light-opacity),
		var(--red-accent-dark-opacity)),
	  url('../assets/dark-brown-wood-texture-background-with-design-space.jpg');

	background-repeat: repeat;
  }

  /* LOGO  */
  .footer-logo {
	height: clamp(120px, 20vw, 200px);

	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -20%);
	/* margin-bottom: 16px; */
  }

  /* TEXT GROUPS */
  .footer-address p,
  .footer-contact p {
	margin: 2px 0;
  }

  /* ADMIN LINK */
  .footer-admin {
	margin-top: 10px;
	cursor: pointer;
	opacity: 0.8;
  }

  .footer-admin:hover {
	opacity: 1;
  }