header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;

  @media (max-width: 450px) {
    flex-direction: column;
    margin-bottom: 110px;

  }

  p {
    font-size: var(--font-size-phone);
    margin: 0;
  }
}

.phone-and-nav-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(0px, 4vw, 70px);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(15px, 3vw, 30px);

  @media (max-width: 950px) {
    flex-direction: column;
  }
}

.header-navlink-logo {
  display: flex;

  @media (max-width: 450px) {
    justify-content: center;
    align-items: center;
  }
}

.header-logo {
  height: clamp(150px, 30vw, 200px);
}

@media (max-width: 650px) {
  .phone-and-nav-box {
    flex-direction: column-reverse;
  }
}