@import './header.css';
@import 'buttons.css';
/* Alla imports här är globala */

:root {

  /* Alla färger, styleguide stuff! */

  --primary-text-col: #F0DDC6;
  --primary-buttons-col: #8B3C00;
  --primary-background-col: #141111;
  --card-highlight-col: #574E43;
  --red-accent-light: #3E0001;
  --red-accent-dark: #240000;

  --red-gradient: linear-gradient(135deg, var(--red-accent-light), var(--red-accent-dark));

  --text-style-pro: 'Zen Antique';
  --text-style-artistic: 'inconsolata';

  /* Byt ut mot bestämd font! */
  /* --sans: system-ui, 'Segoe UI' */
  /* --heading: system-ui, 'Segoe UI', Roboto, sans-serif; */
  /* --mono: ui-monospace, Consolas, monospace; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* Använd bestämd default size! */
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--sans);
  line-height: 1.45;
  letter-spacing: 0.18px;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  /* small viewport height */
  min-height: 100svh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;

  /* @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  } */
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;

  /* @media (max-width: 1024px) {
    font-size: 20px;
  } */
}

main {
  flex: 1;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
  color: inherit;
}

.app {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 16px;
}