@import './debug.css';
@import './header.css';
@import './footer.css';
@import './buttons.css';
@import './menu.css';
@import './login-page.css';
@import './cart-page.css';
@import './front-page.css';
/* Alla imports här är globala */

:root {

  /* Alla färger, styleguide stuff! */

  --text-col: #F0DDC6;
  --buttons-col: #8B3C00;

  --button-hover-col: #b45a16;
  --bg-col: #141111;
  --card-highlight-col: #574E43;

  --red-accent-light: #3E0001;
  --red-accent-dark: #240000;


  --red-accent-light-opacity: #3e000135;
  --red-accent-dark-opacity: #240000d5;

  --red-gradient: linear-gradient(135deg, var(--red-accent-light), var(--red-accent-dark));

  --font-style-pro: 'Zen Antique', serif;
  --font-style-artistic: 'inconsolata', monospace;

  --font-size-page-header: 50px;
  --font-size-category-header: 30px;
  --font-size-card-header: 24px;
  --font-size-phone: 24px;
  --font-size-p: 20px;
  --font-size-price: 22px;
  --font-size-button: 24px;

  --font-size-footer: 20px;

  --letter-spacing-card-text: 4%;
  --letter-spacing-price: 4%;
  --letter-spacing-phone: 0;
  --letter-spacing-p: 4%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  /* overflow-x: clip; */
  /* safety net */
}

body {
  font-family: var(--font-style-pro);
  color: var(--text-col);
  background: var(--bg-col);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  /* small viewport height */
  min-height: 100svh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-background-col);
}

.app {
  min-height: 100vh;
}

main {
  flex: 1;
  min-height: 53svh;
  max-width: 1100px;
  margin: 0 auto;

  @media (max-width: 450px) {
    margin: 0;
  }
}

h1 {
  font-family: var(--font-style-pro);
  font-size: var(--font-size-page-header);
  font-weight: normal;

  margin-left: clamp(0px, 10vw, 60px);
  margin-bottom: 20px;

  @media (max-width: 900px) {
    text-align: center;
    margin-left: 0;
  }
}

h2,
label {
  font-size: var(--font-size-category-header);
  background: var(--red-accent-light);
  font-family: var(--font-style-pro);
  font-weight: normal;
  height: 50px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 2px var(--card-highlight-col);
}

h3 {
  font-family: var(--font-style-artistic);
  margin-bottom: 0;
  font-size: var(--font-size-card-header);
  font-weight: bolder;
  margin-bottom: 20px;
}

p {
  font-family: var(--font-style-artistic);
  color: var(--text-col);
  font-size: var(--font-size-p);
  letter-spacing: var(--letter-spacing-card-text);
  font-weight: 500;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

/* inherit säger att elementen ska använda sin förräöders värden */

button,
nav {
  font-weight: bold;
  font-size: var(--font-size-button);
  font: inherit;
  color: inherit;
  border: none;
}