.grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(0px, 4vw, 100px);
  justify-items: center;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.card-container {
  background: var(--red-gradient);
  font-family: var(--font-style-artistic);

  position: relative;
  max-width: 400px;
  padding: 15px 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 6px 2px var(--card-highlight-col);
  margin: 30px 0;
}

.card-header {
  font-size: var(--font-size-card-header);
}

.bread-text-area {
  position: relative;
}

.remove-shape {
  float: right;
  width: 120px;
  height: 120px;

  /* shape */
  shape-outside: ellipse(50% 10%);
  clip-path: ellipse(50% 50%);

  /* positioning */
  margin-left: 0px;
  margin-bottom: 10px;

  /* move it visually to bottom-right */
  margin-top: 250px;

  /* debug visual (remove later) */
  background: rgba(0, 0, 0, 0);

}

.item-name {
  /* min-width: 100%; */
  /* min-width: 34ch; */
  max-width: 25ch;
}

.dietary-icons {
  position: absolute;
  display: flex;
  right: 0;
}